[user]
	name = Andrew Sameh
	email = g.andrewsameh@gmail.com
[init]
	defaultBranch = main

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[includeIf "gitdir:~/Code/pulse/"]
    path = ~/.gitconfig-shadow


[includeIf "gitdir:~/Code/rgvs/"]
    path = ~/.gitconfig-shadow

[includeIf "gitdir:~/Coding/pulse/"]
    path = ~/.gitconfig-shadow